<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yadda Yadda Yadda</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700">
    <link href="../css/reg.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="profiledata">
    <div class="title">Yadda Yadda Yadda</div>
    <div class="text">Welcome to communication universe</div>
    <form action="../auth/login" method="post">
        <label class="userdata">E-mail
            <br/>
        </label>
        <input type="text" name="email" class="profile" placeholder="Enter your e-mail">
        <label class="userdata">Password
            <br/>
        </label>
        <input input type="password" name="password" class="profile" placeholder="Enter your password">
        <button class="userpic">Login</button>
    </form>
    <div class="container signin">
        <div>Dont have an account?
            <a href="../auth/register">Register</a>.
        </div>
    </div>
</div>
</body>
</html>